/* Manifest Project */
/* Started: 12/15/2018 */


@import url('https://fonts.googleapis.com/css?family=Oswald:200|Staatliches');

html {
    font-size: 16px;
}

span, div {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Oswald', cursive;
    color: #fff;
    text-shadow: 3px 2px 1px #000,
        1px 2px 2px #000,
        1px 4px 1px #000;
    letter-spacing: 0.15rem;
    font-size: 3rem;
}

/* =================== */
/* MAIN SPLASH SECTION */
/* =================== */

div#splash section {
    width: 100%;
    height: 100vh;
    background: url(./roads.jpg) no-repeat center;
    background-size: cover;
}

div#splash section#main div.header {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 3px 1px #000,
    3px 1px 2px #000,
    1px 4px 3px #000,
    2px 3px 1px #000;
}

section#main div.header h1 {
    color: #479dff;
    font-size: 10rem;
    font-weight: 100;
    letter-spacing: 1rem;
    margin-bottom: -2rem;
    margin-top: 5rem;
    /* text-decoration: underline; */
    font-family: 'Oswald', cursive;
}

section#main div.header p {
    text-shadow: none;
    color: #f1f1f1;
    font-size: 3rem;
    /* margin-bottom: 3rem; */
}

section#main div.header a.btn {
    color: #fff;
    background: rgba(255, 87, 51, 0.75);
    padding: 0.5rem 3.75rem;
    font-size: 1.45rem;
    font-family: 'Oswald', sans-serif;
    /* font-weight: 700; */
    letter-spacing: 0.15rem;
    margin-top: 3rem;
    border: none;
    border-radius: 0.5rem;
    z-index: 1;
    text-decoration: none;
    text-shadow: none;
}

section#main div.header a.btn:hover {
    background: rgb(255, 87, 51);
    transform: scale(0.25);
    font-size: 1.85rem;
    transition: all ease-in-out 0.4s;
    box-shadow: 2px 3px 1px #333,
    3px 1px 2px #111,
    1px 4px 3px #222,
    2px 3px 1px #333;
}

/* ========================= */
/* DESIGN & SERVICES SECTION */
/* ========================= */

div#services {
    /* background: #f1f1f1; */
    background: linear-gradient(to bottom right, #bbb, #231f20);
    text-align: center;
    /* padding-top: 3rem; */
    padding-bottom: 3rem;
}

.services h1 {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    width: 50%;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
}

.cen {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.service {
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.service:hover {
    background: #ddd;
    border-radius: 1rem;
    box-shadow: 2px 3px 1px #333,
    3px 1px 2px #111,
    1px 4px 3px #222,
    2px 3px 1px #333;
    transition: 0.65s;
}

.service i {
    color: rgb(255, 87, 51);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.service h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    color: #bbb;
    text-shadow: none;
    margin: 0;
    font-family: 'Staatliches', sans-serif;
}

.service p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    /* text-transform: lowercase; */
}

/* ======================= */
/*  MEET THE TEAM SECTION  */
/* ======================= */

.team-section {
    background-color: #f1f1f1;
    background: url(./snowpeak.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #333;
    overflow: hidden;
}

.team-section h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
    font-weight: 500;
}

.pe {
    float: left;
    width: calc(100% / 3);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
}

.pe:hover {
    background: #ddd;
    box-shadow: 2px 3px 1px #333,
    3px 1px 2px #111,
    1px 4px 3px #222,
    2px 3px 1px #333;
    border-radius: 1rem;
}

.pe img {
    width: 120px;
    height: 120px;
}

.p-name {
    margin: 16px 0;
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0.15rem;
}

.p-des {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(255, 87, 51);
}

.p-sm {
    margin-top: 12px;
}

.p-sm a {
    margin: 0 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transition: 0.4s;
}

.p-sm a i {
    color: #333;
    line-height: 30px;
}

.p-sm a i:hover {
    color: rgb(255, 87, 51);
    transform: scale(1.4);
    transition: 0.4s;
}

/* ======================== */
/* COUNTDOWN / SUBSCRIPTION */
/* ======================== */

div.page {
    background: linear-gradient(to bottom left, #05a1fa, #fff);
    display: flex;
    flex-wrap: wrap;
}

div.page h1.pageheader {
    text-align: center;
    top: 40%;
    left: 40%;
    margin-top: 12rem;
    font-size: 3rem;
    color: #f1f1f1;
    font-weight:100;
    text-shadow: 2px 3px 1px #000,
        3px 1px 2px #000,
        1px 4px 3px #000,
        2px 3px 1px #000;
}

.col {
    flex: 1;
    height: 100vh;
    position: relative;
}

.countdown-col {
    background: url(./compglasses2.jpg) no-repeat center;
    background-size: cover;
}

.time {
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.time span {
    padding: 0 0.8rem;
    font-size: 0.75rem;
}

.time span div {
    font-size: 3rem;
}

.newsletter {
    width: 90%;
}

.newsletter h4 {
    font-size: 1rem;
}

.newsletter input {
    display: block;
    margin: 0.6rem auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 0.85rem 1.25rem;
    border-radius: 1.5rem;
    border: 1px solid #bbb;
    outline: none;
}

.newsletter-btn {
    background: linear-gradient(125deg, #3498db, #34495e);
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.newsletter-btn:hover {
    opacity: 0.7;
}

/* ============== */
/* @MEDIA QUERIES */
/* ============== */

@media screen and (max-width: 600px) {
    .pe {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .col {
        flex: 100%;
    }
}

@media screen and (max-width: 800px) {
    .service {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .service {
        width: 100%;
    }
}




/* SAVE FOR POSSIBLE LATER USE. */



/* ======================== */
/* NAVIGATION BAR / SPLASH  */
/* ======================== */
/* 
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.3s;
    border-bottom: 1px solid #f1f1f1;
}

nav.black {
    background: linear-gradient(to bottom left, #05a1fa, #fff);
    height: 15%;
    padding: 10px 100px;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 2rem;
    transition: 0.3s;
    font-size: 1.45rem;
}

nav.black .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    font-size: 1rem;
}

nav.black ul li a {
    color: #fff;
    border-radius: 1rem;
}

nav.black ul li a.active {
    color: #231f20;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a.active {
    outline: none;
    color: #fff;
    background-color: rgb(255, 87, 51);
    border: 1px solid rgb(255, 87, 51);
    border-radius: 1rem;
    padding: 0.25rem 1rem;
}

nav ul li a:hover {
    border: 1px solid rgb(255, 87, 51);
    color: #fff;
    background-color: rgb(255, 87, 51);
    border-radius: 1rem;
    transition: all ease-in-out 0.5s;
} */