<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg" %>
    </div>

    <div id="content">
        <h1>Ty Enn</h1>
        <p>Full Stack Developer/CTO</p>
        <p>Lorem Ipsum Dolor Text</p>
        <p>Even More Lorem Ipsum Dolor Text</p>
    </div>
</div>