 /* Sloner Nitsly CSS */
 /* Web Designer: Tyler LiNk Nilsson */

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Dosis|Scope+One|Spectral+SC|Bungee');


/* Main */

html {
  font-size: 16px;
  min-width: 100%;
  min-height: 100%;
}

body {
  background-color: #333;
  background: url('../img/coloredwindows.jpg') no-repeat center center fixed; 
  min-height:100%;
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
  -o-background-size: cover;
}

/* Nav */

nav {
  background-color: rgba(0, 0, 0, 0.6);
}

h3#name {
  font-size: 2.4rem;
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  border-radius: 1rem;
    text-shadow: 1px 1px 1px #000,
    1px 1px 1px #333,
    1px 1px 1px #000,
    1px 1px 1px #222,
    2px 2px 1px #333,
    2px 2px 1px #000,
    -2px -2px 1px #222,
    3px 3px 1px #000,
    3px 3px 1px #222,
    4px 4px 1px #222,
    8px 8px 1px #000,
    9px 9px 1px #000,
    9px 9px 1px #333;
}


nav a:hover, a#activePage:hover {
  font-size: 2.2rem;
  color: #111;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 1px #000,
    1px 1px 1px #333,
    1px 1px 1px #000,
    1px 1px 1px #222,
    2px 2px 1px #333,
    2px 2px 1px #000,
    -2px -2px 1px #222,
    3px 3px 1px #000,
    3px 3px 1px #222,
    4px 4px 1px #222,
    8px 8px 1px #000,
    9px 9px 1px #000,
    9px 9px 1px #333;
}

a.nav-link {
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  border-radius: 1rem;
  font-size: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Header */

section {
  margin-top: 4rem;
}

section h1 {
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  font-size: 3.5rem;
  margin-top: 2rem;
}

section p.plain {
  background-color: #333;
  border-radius: 0.4rem;
  padding: 0;
  width: 100%;
  color: #fff;
  font-family: 'Poiret One', sans-serif;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

section p.plain a {
  color: #fff;
  text-decoration: underline;
}

section p.plain a:hover {
  color: red;
  text-decoration: none;
}

.jumbotron a.btn {
  background-color: #fff;
  font-weight: 700;
  color: #222;
  border-color: #fff;
  letter-spacing: 0.4rem;
  /*padding: .75rem 1.5rem;*/
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
  font-family: 'Bungee', sans-serif;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px #000,
    1px 1px 1px #333,
    1px 1px 1px #000,
    1px 1px 1px #222,
    2px 2px 1px #333,
    2px 2px 1px #000,
    -2px -2px 1px #222,
    3px 3px 1px #000,
    3px 3px 1px #222,
    4px 4px 1px #222,
    8px 8px 1px #000,
    9px 9px 1px #000,
    9px 9px 1px #333;
}

.jumbotron a.btn:hover {
  background-color: #8E138E;
  color: #fff;
  border-color: #8E138E;
  font-size: 1.3rem;
  box-shadow: none;
}

/* Main */

div.album p {
  color: #fff;
  letter-spacing: 0.2rem;
  font-family: 'Bungee', sans-serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000,
    1px 1px 1px #333,
    1px 1px 1px #000,
    1px 1px 1px #222,
    2px 2px 1px #333,
    2px 2px 1px #000,
    -2px -2px 1px #222,
    3px 3px 1px #000,
    3px 3px 1px #222,
    4px 4px 1px #222,
    8px 8px 1px #000,
    9px 9px 1px #000,
    9px 9px 1px #333;
}

div.card {
  background-color: rgba(7, 7, 7, 0.55);
  border-radius: 0.4rem;
}


/* Alternate */

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 10%;
  background: transparent;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  /*min-height: 50rem; */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: 0.4rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: 1rem;
}



/* Footer */

hr.footerDivider {
  height: 0.5rem;
  margin-top: 4%;
  width: 30%;
  background-color: #8E138E;
  border-color: #000;
  border-radius: 0.4rem;
}

footer {
  margin-bottom: 4rem;
  margin-top: 2rem;
  /*font-size: 1.4rem;*/
}

a.footerTag {
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  font-size: 1.8rem;
}

a.footerTag:hover {
  text-decoration: none;
  color: deeppink;
}

footer i {
  color: #fff;
  padding-right: 1.5rem;
}

footer i:hover {
  color: deeppink;
  transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}