/* New Kingstown Market & Deli CSS */
/* Web Developer: Tyler LiNk Nilsson */

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Pacifico|Montserrat|Poppins');

/* Main */

html {
	font-size: 16px;
	max-width: 100%;
	max-height: 100%;
}

body {
	overflow-x: hidden;
	padding: 3rem 0;
	max-width: 100%;
	background: url('../img/cafe.jpg') no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

/* Navbar */

nav {
	/*background-color: rgba(18,55,81,0.4);*/
	background-color: rgba(3,3,3,0.75);
	padding: 0;
}

nav a.navbar-brand img {
	width: 12%;
}

a.navbar-brand {
	color: red;
	font-family: 'Pacifico', sans-serif;
	font-size: 2rem;
}

a.nav-link {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin: 0 1rem;
}

a.nav-link:hover {
	color: #fff;
	transform: scale(1.4);
}

/* Header */

div#header {
	margin-top: 6rem;
}

div#header p.float-right img {
	width: 100%;
	/*background-color: rgba(5,5,5,0.75);*/
	/*border: none;*/
	padding: 0;
}

div#header .jumbotron {
	/*background-color: rgba(18,55,81,0.65);*/
	background-color: rgba(255,255,255,0.65);
	border-radius: 0.8rem;
	box-shadow: 2px 4px 1px #000,
		4px 7px 1px #111,
		2px 2px 1px #000,
		8px 4px 1px #111,
		3px 6px 1px #000,
		2px 9px 1px #111;
	margin-bottom: 10rem;
}

div#header h1 {
	font-family: 'Pacifico', sans-serif;
	color: #fff;
	text-shadow: 2px 4px 1px #000,
		1px 3px 1px #222,
		2px 2px 1px #000,
		3px 1px 1px #111,
		4px 2px 1px #111,
		2px 2px 1px #000;
}

div#header p {
	color: #333;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.25rem;
	letter-spacing: 0.2rem;
	font-weight: 700;
/*	text-shadow: 2px 4px 1px #000,
		1px 3px 1px #222,
		2px 2px 1px #000,
		3px 1px 1px #111,
		4px 2px 1px #111,
		2px 2px 1px #000;*/
}

div#menu {
	color: #fff;
}

/* Menu */

div#header h1.text-center {
	color: #fff;
	text-shadow: 2px 4px 1px #000,
		1px 3px 1px #222,
		2px 2px 1px #000,
		3px 1px 1px #111,
		4px 2px 1px #111,
		2px 2px 1px #000;
	margin-bottom: 3rem;
	font-size: 4.5rem;
	font-weight: lighter;
	letter-spacing: 0.4rem;
}

div#menu h2 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
/*	background-color: rgb(18,55,81);
	padding: 0;
	border-radius: 0.6rem;*/
	width: 100%;
}

div#menu img {
	background-color: rgb(18,55,81);
	border: 2px solid red;
	/*padding: 0;*/
	/*border-radius: 0.6rem;*/
}

div#menu p {
	color: #fff;
	background-color: rgba(18,55,81,0.85);
	border-radius: 0.8rem;
	border: 2px solid red;
	font-size: 1rem;
	text-shadow: none;
	letter-spacing: 0.2rem;
	/*margin-top: 1rem;*/
}

div.col-6 {
	margin-bottom: 2rem;
}

/* Sidebar */

div#sidebar {
	background-color: rgba(255,0,0,0.75);
	border-radius: 1rem;
	padding-bottom: 1rem;
	height: 60%;
}

div#sidebar h2 {
	color: #fff;
	text-decoration: underline;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 2px 4px 1px #000,
		1px 3px 1px #222,
		2px 2px 1px #000,
		3px 1px 1px #111,
		4px 2px 1px #111,
		2px 2px 1px #000;
	margin-top: 1rem;
}

div#sidebar address {
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	font-weight: bold;
}

div#sidebar p {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

div#sidebar a {
	color: #fff;
}

div#sidebar span {
	margin-top: 1rem;
	/*text-decoration: underline;*/
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	/*font-weight: bold;*/
	font-size: 2rem;
	text-shadow: 2px 4px 1px #000,
		1px 3px 1px #222,
		2px 2px 1px #000,
		3px 1px 1px #111,
		4px 2px 1px #111,
		2px 2px 1px #000;
}

div#sidebar span a {
	color: #fff;
	text-shadow: none;
	text-decoration: underline;
	font-size: 2rem;
}

/* Footer */

footer {
	width: 100%;
	background-color: rgba(18,55,81,0.75);
	padding: 0.5rem 1rem;
	border-radius: 0.8rem;
	overflow: hidden;
	font-family: 'Open Sans Condensed', sans-serif;
}

footer p.red {
	padding: 0;
	color: #fff;
	font-size: 2rem;
	text-shadow: 2px 4px 1px #000,
		1px 3px 1px #222,
		2px 2px 1px #000,
		3px 1px 1px #111,
		4px 2px 1px #111,
		2px 2px 1px #000;
	margin-bottom: 0;
	margin-top: 0;

}

footer a {
	color: red;
	margin: auto 0.5rem;
}

footer a:hover {
	color: #fff;
	transform: scale(1.3);
}


footer img {
	width: 8%;
}